[submodule "tree-sitter-go"]
	path = tree-sitter-go
	url = git@github.com:codeperfect95/tree-sitter-go.git
    branch = codeperfect
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:codeperfect95/vcpkg.git
[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-go-work"]
	path = tree-sitter-go-work
	url = https://github.com/codeperfect95/tree-sitter-go-work
[submodule "tree-sitter-go-mod"]
	path = tree-sitter-go-mod
	url = git@github.com:codeperfect95/tree-sitter-go-mod.git
[submodule "jblow_tests/workspace/packer"]
	path = jblow_tests/workspace/packer
	url = git@github.com:hashicorp/packer.git
[submodule "jblow_tests/workspace/packer-plugin-sdk"]
	path = jblow_tests/workspace/packer-plugin-sdk
	url = git@github.com:hashicorp/packer-plugin-sdk.git
[submodule "jblow_tests/autocomplete/hugo"]
	path = jblow_tests/autocomplete/hugo
	url = https://github.com/gohugoio/hugo
[submodule "jblow_tests/autocomplete/controller-idioms"]
	path = jblow_tests/autocomplete/controller-idioms
	url = https://github.com/authzed/controller-idioms
