# python
*.pyc
.venv/

# binary & object files
*.o
/gotest
*.ilk
*.exe
*.dll
*.dylib
*.pdb
*.obj
*.lib
*.exp
bin/
obj/

# clangd index
.clangd

# debugging crap
*.dSYM
coredumps/

# misc
imgui.ini
.vscode
.vs/

# visual studio crap
packages
debug.log

# delve
__debug_bin

# i like to pipe build output to log.txt
log.txt

# during debugging, parse errors cause the current file to get dumped here
/test.go

# remedybg debug session
*.rdbg

# artifacts of our own ide
.ide
db
db.tmp
.idelicense
.ideversion
.idedefaultfolder

# macos
.DS_Store

# we don't actually use this, we write our own function defs in go.hpp
gohelper.h  
