# python
*.pyc
.venv/

# binary files
*.o
/raven
/gotest
*.ilk
*.exe
*.pdb
*.obj

# clangd index
.clangd

# debugging crap
*.dSYM

# misc
imgui.ini
.vscode
.vs/

# visual studio crap
packages
debug.log

# delve
__debug_bin

# i like to pipe build output to log.txt
log.txt

# during debugging, parse errors cause the current file to get dumped here
test.go
