[submodule "tree-sitter-go"]
	path = tree-sitter-go
	url = git@github.com:invrainbow/tree-sitter-go.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
