@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

a {
  color: #29f;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.anchor {
    &:hover {
      text-decoration: none;
    }
    h1,
    h2,
    h3 {
      margin-bottom: 1rem;
    }
  }
  h1,
  h2,
  h3 {
    color: black;
  }
  &.logo {
    &:hover {
      text-decoration: none;
    }
  }
}

nav a:hover {
  text-decoration: none;
}

code {
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  padding: 3px 5px;
  vertical-align: middle;
  background: #eef2ee;
  color: #383;
  font-size: 12px;
  font-family: "SF Mono", Menlo, Consolas, monospace;
}

pre {
  border-radius: 8px;
  background: #eee;
  color: #666;
  font-size: 12px;
  font-family: "SF Mono", Menlo, Consolas, monospace;
  padding: 0.75rem;
}

pre > code {
  background: none;
  border: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
  code {
    font-size: 1em;
  }
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 115%;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
p,
ul,
ol,
blockquote,
table,
pre {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
li {
  p,
  blockquote {
    &:last-child {
      margin-bottom: 1rem;
    }
  }
}
h1,
h2,
h3 {
  color: black;
  &:first-child {
    line-height: 1;
  }
}
blockquote {
  padding-left: 10px;
  margin-left: 0;
  border-left: solid 4px #eee;
  color: #666;
}

ul,
ol {
  padding-left: 2.25rem;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}

#TableOfContents {
  ul {
    margin: 0;
    margin-left: 1.5rem;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  & > ul {
    margin-left: 0;
  }
}

kbd {
  display: inline-block;
  background: rgb(246, 248, 250);
  border: 1px solid rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
  color: rgb(36, 41, 47);
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  padding: 3px 5px;
  vertical-align: middle;
  & + kbd {
    margin-left: 2px;
  }
}

img {
  @apply border bg-gray-700 border-gray-600 rounded-md overflow-hidden shadow-sm;
}

main {
  h2 {
    margin-top: 2rem;
  }
}

hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: solid 1px #eee;
}

table {
  border-collapse: collapse;
  display: block;
  border: solid 1px #aaa;
  max-width: 400px;
  tr {
    &:not(:last-child) {
      border-bottom: solid 1px #e2e2e2;
    }
  }
  td,
  th {
    vertical-align: top;
    padding: 6px 15px;
    &:first-child {
      border-right: solid 1px #e2e2e2;
      white-space: nowrap;
    }
    &:last-child {
      width: 100%;
    }
  }
  thead {
    display: none;
  }
  &.postfixes {
    max-width: 500px;
    td {
      text-align: left;
      pre {
        padding: 0.5rem;
      }
      &:first-child {
        code {
          font-weight: bold;
        }
      }
    }
  }
}
