/*
This file is a bunch of defaults to supplement Tailwind.

I'm just going to write bare CSS, because I hate how it takes like 5 seconds to
build every time I change the CSS if I'm importing Tailwind and using @apply.
*/

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Segoe UI", "Oxygen", -apple-system, BlinkMacSystemFont, "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  border-radius: 8px;
  background: eee;
  font-family: 'SF Mono', Menlo, Consolas, monospace;
}

code {
  font-size: 85%;
  border-radius: 4px;
  background: #eee;
  padding: 1px 4px;
  display: inline-block;
}

pre {
  padding: 0.75rem;
  background: #eee;
}

pre > code {
  background: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI",
    sans-serif;
  font-weight: bold;
}

h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 110%; }

h1, h2, h3, p, ul, ol, blockquote, pre {
  margin-bottom: 1.5rem;
}

#TableOfContents {
  ul {
    margin: 0;
    margin-left: 1rem;
  }
  & > ul {
    margin-left: 0;
  }
}