@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #151515;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  * {
    @apply outline-none;
  }

  a {
    @apply text-gray-200 underline;
    @apply inline-block break-words;
  }

  p,
  ul,
  ol,
  blockquote,
  center,
  form {
    @apply mt-4;
  }

  p:first-child,
  ul:first-child,
  ol:first-child,
  form:first-child {
    @apply mt-0;
  }

  ul,
  ol {
    @apply pl-4;
  }

  li {
    @apply list-outside;
    @apply ml-4;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }

  code {
    @apply rounded-md px-1 py-0.5 bg-gray-600 text-gray-200;
    font-size: 82.5%;
  }
}

@layer components {
  .main-button {
    @apply rounded-md bg-blue-600 text-white text-sm font-semibold py-1.5 px-4;
    @apply decoration-clone bg-gradient-to-b from-blue-500 to-blue-700;
    @apply disabled:opacity-50 no-underline outline-none;
    @apply opacity-90 hover:opacity-100;
  }
}

@layer utilities {
  .thick-list li {
    @apply mb-3;
  }
  .roadmap-list {
    @apply pl-0;
  }
  .roadmap-list li {
    @apply py-1.5 list-none ml-0;
  }
  .nice-image {
    @apply md:rounded-md border md:border-4 md:w-auto drop-shadow-md;
    border-color: #555;
  }

  .wall-of-text h3 {
    @apply mt-5 text-gray-300 font-semibold;
  }
  .wall-of-text p,
  ol,
  ul,
  blockquote {
    @apply mt-5;
  }

  @media (min-width: 640px) {
    .nice-image {
      border-color: #242424;
    }
  }
}
