@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
    line-height: 1.7;
  }

  .logo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", "Ubuntu", sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  * {
    @apply outline-none;
  }

  a {
    @apply text-gray-600 underline;
    @apply break-words;
  }
  a.btn {
    @apply no-underline;
  }

  p,
  ul,
  ol,
  blockquote,
  center,
  form {
    &:not(:first-child) {
      @apply mt-4;
    }
  }

  ul,
  ol {
    @apply pl-4;
  }

  li {
    @apply list-outside;
    @apply ml-4;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }

  code {
    background: #eef2ee;
    color: #383;
    @apply rounded-md px-1.5 py-0.5;
    margin-bottom: 1px;
    display: inline-block;
  }
  code,
  pre {
    font-size: 82.5%;
  }

  button {
    outline: none !important;
  }
  svg {
    display: block;
  }

  * {
    outline: 0 !important;
  }
}

@layer components {
  .button {
    @apply rounded-md shadow-sm leading-none;
    @apply py-4 px-5;
    @apply disabled:opacity-50 no-underline outline-none;
    @apply whitespace-nowrap;
    @apply inline-flex items-center;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .main-button {
    background: #222;
    color: white;
  }
  .download-button {
    @apply bg-white border border-gray-300 text-gray-500;
  }
  .download-button:hover:not(:disabled) {
    background: white;
  }
}

@layer utilities {
  .thick-list li {
    @apply mb-3;
  }
  .wall-of-text {
    h2:not(:first-child) {
      @apply mt-4;
    }
    h3 {
      @apply mt-4 text-gray-300 font-semibold;
    }
    p,
    ol,
    ul,
    blockquote {
      &:not(:first-child) {
        @apply mt-4;
      }
    }
  }

  @media (min-width: 640px) {
    .nice-image {
      border-color: #242424;
    }
  }

  .lds-ring {
    display: inline-block;
    position: relative;
  }
  .lds-ring div {
    border: solid 1px #ddd;
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ddd transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
