@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", "Ubuntu", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  * {
    @apply outline-none;
  }

  a {
    @apply text-gray-600 underline;
    @apply inline-block break-words;
  }

  p,
  ul,
  ol,
  blockquote,
  center,
  form {
    @apply mt-4;
  }

  p:first-child,
  ul:first-child,
  ol:first-child,
  form:first-child {
    @apply mt-0;
  }

  ul,
  ol {
    @apply pl-4;
  }

  li {
    @apply list-outside;
    @apply ml-4;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }

  code {
    @apply rounded-md px-1 py-0.5 bg-gray-600 text-gray-200;
    font-size: 82.5%;
  }
}

@layer components {
  .main-button {
    background: #222;
    color: white;
    @apply rounded-md text-sm font-medium;
    @apply py-1.5 px-4;
    @apply disabled:opacity-50 no-underline outline-none;
  }
}

@layer utilities {
  .thick-list li {
    @apply mb-3;
  }
  .nice-image {
    @apply md:rounded-md md:w-auto drop-shadow-md;
  }

  .wall-of-text h3 {
    @apply mt-5 text-gray-300 font-semibold;
  }
  .wall-of-text p,
  ol,
  ul,
  blockquote {
    @apply mt-5;
  }

  @media (min-width: 640px) {
    .nice-image {
      border-color: #242424;
    }
  }
}
