@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", "Ubuntu", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  * {
    @apply outline-none;
  }

  a {
    @apply text-gray-600 underline;
    @apply inline-block break-words;
  }
  a.btn {
    @apply no-underline;
  }

  p,
  ul,
  ol,
  blockquote,
  center,
  form {
    @apply mt-4;
  }

  p:first-child,
  ul:first-child,
  ol:first-child,
  form:first-child {
    @apply mt-0;
  }

  ul,
  ol {
    @apply pl-4;
  }

  li {
    @apply list-outside;
    @apply ml-4;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }

  code {
    @apply rounded-md px-1.5 py-0.5 bg-gray-100 text-gray-600;
    margin-bottom: 1px;
    display: inline-block;
  }
  code,
  pre {
    font-size: 82.5%;
  }

  button {
    outline: none !important;
  }
  svg {
    display: inline-block;
  }

  * {
    outline: 0 !important;
  }
}

@layer components {
  .main-button {
    background: #333;
    color: white;
    @apply rounded-lg font-medium shadow-sm;
    @apply py-2 px-5;
    @apply disabled:opacity-50 no-underline outline-none;
  }
  .main-button:hover {
    background: #444;
  }
  .download-button {
    @apply bg-gray-50 border border-gray-300 font-medium text-gray-500 whitespace-nowrap mr-1.5 py-1.5 px-3;
  }
  .download-button:hover {
    @apply bg-gray-50;
  }
  .download-button:hover:not(:disabled) {
    background: white;
  }
  .download-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@layer utilities {
  .thick-list li {
    @apply mb-3;
  }
  .wall-of-text h2:not(:first-child) {
    @apply mt-5;
  }
  .wall-of-text h3 {
    @apply mt-5 text-gray-300 font-semibold;
  }
  .wall-of-text p,
  ol,
  ul,
  blockquote {
    @apply mt-5;
  }

  @media (min-width: 640px) {
    .nice-image {
      border-color: #242424;
    }
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #ddd;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ddd transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
